
@model EntityLayer.Concrete.About
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hakkımızda Metin Girişi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Update", "About", FormMethod.Post))
                {
                    <div class="form-group">
                        <div>
                            @Html.HiddenFor(model => model.AboutId)

                            @Html.Label("Hakkında 1")
                            @Html.TextBoxFor(x => x.AboutDetails, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AboutDetails)
                        </div>
                        <div>

                            @Html.Label("Hakkında 2")
                            @Html.TextBoxFor(x => x.AboutDetails2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AboutDetails2)
                        </div>

                        <div>

                            @Html.Label("Resim 1")
                            @Html.TextBoxFor(x => x.AboutImage, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AboutImage)
                        </div>
                        <div>

                            @Html.Label("Resim 2")
                            @Html.TextBoxFor(x => x.AboutImage2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AboutImage2)
                        </div>


                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </div>
                }
            </div>
        </div>
    </div>
