@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>AddHeading</h2>
@using (Html.BeginForm("AddHeading", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">
        <div>
            @Html.Label("Başlık Adı")
            @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.HeadingName)


        </div>


        <div>

            @Html.Label("Başlık Kategori")
            @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.liste, new { @class = "form-control" })

        </div>




        <button type="submit" class="btn btn-primary">Başlığı Oluştur</button>
    </div>
}
