
@model ProjeKampMVC.UI.Models.CategoryListViewModel
@{
    ViewBag.Title = "GetAllCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllCategories</title>
</head>
<body style="margin:20px;">
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Başlıklar</th>
            <th>Güncelle</th>
            <th>Sil</th>

        </tr>


        @foreach (var category in Model.Categories)
        {
    <tr>
        <td>@category.CategoryId</td>
        <td>@category.CategoryName</td>
        <td>@category.CategoryDescription</td>
        <td>@category.CategoryStatus</td>
        <td><a class="btn btn-info" href="#">Başlıklar</a></td>
        <td><a class="btn btn-primary" href="/Category/GetCategory/@category.CategoryId">Güncelle</a></td>
        <td><a href="/Category/Delete/@category.CategoryId.ToString()" class="btn btn-danger" >Sil</a></td>
    </tr>
        }

    </table> <p>@Model.Message</p>
    <button class="btn btn-active"><a href="~/Category/AddCategory">Kategori Ekle</a></button>
</body>
</html>
