@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(model => model.CategoryId)
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)


    <br />

    @Html.Label("Kategori Açıklama")
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <button type="submit" class="btn btn-primary">Güncelle</button>
</div>
}

